

<html>
<head><link rel="stylesheet" type = "text/css" href="../static/styling/resource.css"></head>

<div>
        <h1> Find Area and Circumference of a Circle given Radius </h1>
        <p> Enter the radius in the box below.  </p>
                <form action="/" method="post">
                        <input type="number" step = 0.0000000001 name="radius" autocomplete="off">
                        <input type="submit" value="Calculate">
                    </form>
        
        {% if radius-%}
        <p> A circle with a radius {{ radius }} has the following metrics: </p>
        {%- endif %}

        
        {% if area -%}
        <p> The area is:  {{ area }} units squared</p>
        {%- endif %}

        
        {% if circumference -%}
        <p> The circumference is:  {{ circumference }} units</p>
        {%- endif %}
        
        
        
        <h2> Formulas </h2>
        
        <p>The area of a circle is defined as:</p>
        <!-- <img src="{{url_for('static', filename='area_circle.png')}}" align="middle"/> -->
        <img src="../static/area_circle.PNG">
        
        
        <p>The circumference of a circle is defined as:</p>
        <img src="../static/circum.PNG">

        
        <!-- <img src="{{url_for('static', filename='circum.png')}}" align="middle"/> -->



</html>